<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Submenu "Dashboards" bajo la raíz del módulo padre -->
        <menuitem id="menu_nf_intelligence_root"
                  name="Dashboards"
                  parent="nf_reports_custom.menu_nf_reports_custom_root"
                  sequence="20"
                  groups="nf_reports_custom.group_nf_report_user"/>

        <menuitem id="menu_nf_intelligence_my"
                  name="Mis Dashboards"
                  parent="menu_nf_intelligence_root"
                  action="action_nf_intelligence_dashboard"
                  sequence="10"
                  groups="nf_reports_custom.group_nf_report_user"/>

        <!-- Acceso de administración bajo Configuración del módulo padre -->
        <menuitem id="menu_nf_intelligence_admin"
                  name="Gestionar Dashboards"
                  parent="nf_reports_custom.menu_nf_config"
                  action="action_nf_intelligence_dashboard"
                  sequence="15"
                  groups="nf_reports_custom.group_nf_report_manager"/>
    </data>
</odoo>
